In [6]:
//seance 1 etape 3
case class TitanicGroup(
  rownames: Int,
  pClass: String,
  sex: String,
  age: String,
  survived: String,
  freq: Int
)

lastException = null
defined class TitanicGroup

null

In [2]:
//seance 2 etape 1

val rawRdd = sc.textFile("Titanic.csv")

val header = rawRdd.first()
val dataRdd = rawRdd.filter(_ != header)

val titanicRdd = dataRdd.map(_.split(",")).map(cols => TitanicGroup(
  cols(0).toInt,
  cols(1),
  cols(2),
  cols(3),
  cols(4),
  cols(5).toInt
))

val titanicDf = titanicRdd.toDF()

titanicDf.show()        
titanicDf.printSchema()
println(s"Nombre total de lignes : ${titanicDf.count()}")
titanicDf.summary().show()

+--------+------+------+-----+--------+----+
|rownames|pClass|   sex|  age|survived|freq|
+--------+------+------+-----+--------+----+
|       1|   1st|  Male|Child|      No|   0|
|       2|   2nd|  Male|Child|      No|   0|
|       3|   3rd|  Male|Child|      No|  35|
|       4|  Crew|  Male|Child|      No|   0|
|       5|   1st|Female|Child|      No|   0|
|       6|   2nd|Female|Child|      No|   0|
|       7|   3rd|Female|Child|      No|  17|
|       8|  Crew|Female|Child|      No|   0|
|       9|   1st|  Male|Adult|      No| 118|
|      10|   2nd|  Male|Adult|      No| 154|
|      11|   3rd|  Male|Adult|      No| 387|
|      12|  Crew|  Male|Adult|      No| 670|
|      13|   1st|Female|Adult|      No|   4|
|      14|   2nd|Female|Adult|      No|  13|
|      15|   3rd|Female|Adult|      No|  89|
|      16|  Crew|Female|Adult|      No|   3|
|      17|   1st|  Male|Child|     Yes|   5|
|      18|   2nd|  Male|Child|     Yes|  11|
|      19|   3rd|  Male|Child|     Yes|  13|
|      20|  Crew|  Male|Child|     Yes|   0|
+--------+------+------+-----+--------+----+
only showing top 20 rows

root
 |-- rownames: integer (nullable = false)
 |-- pClass: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- survived: string (nullable = true)
 |-- freq: integer (nullable = false)

Nombre total de lignes : 32
+-------+----------------+------+------+-----+--------+------------------+
|summary|        rownames|pClass|   sex|  age|survived|              freq|
+-------+----------------+------+------+-----+--------+------------------+
|  count|              32|    32|    32|   32|      32|                32|
|   mean|            16.5|  NULL|  NULL| NULL|    NULL|          68.78125|
| stddev|9.38083151964686|  NULL|  NULL| NULL|    NULL|135.99590467624265|
|    min|               1|   1st|Female|Adult|      No|                 0|
|    25%|               8|  NULL|  NULL| NULL|    NULL|                 0|
|    50%|              16|  NULL|  NULL| NULL|    NULL|                13|
|    75%|              24|  NULL|  NULL| NULL|    NULL|                76|
|    max|              32|  Crew|  Male|Child|     Yes|               670|
+-------+----------------+------+------+-----+--------+------------------+

rawRdd = Titanic.csv MapPartitionsRDD[1] at textFile at <console>:28
header = rownames,Class,Sex,Age,Survived,Freq
dataRdd = MapPartitionsRDD[2] at filter at <console>:31
titanicRdd = MapPartitionsRDD[4] at map at <console>:33
titanicDf = [rownames: int, pClass: string ... 4 more fields]

[rownames: int, pClass: string ... 4 more fields]

In [7]:
//seance 2 etape 2
import org.apache.spark.sql.functions.monotonically_increasing_id


val dfPClass = titanicDf
  .select("pClass")
  .distinct()
  .withColumn("id_pclass", monotonically_increasing_id)


val dfSex = titanicDf
  .select("sex")
  .distinct()
  .withColumn("id_sex", monotonically_increasing_id)

val dfAge = titanicDf
  .select("age")
  .distinct()
  .withColumn("id_age", monotonically_increasing_id)

val dfSurvived = titanicDf
  .select("survived")
  .distinct()
  .withColumn("id_survived", monotonically_increasing_id)

val titanicWithPClass = titanicDf
  .join(dfPClass, Seq("pClass"), "left")
  .drop("pClass")


val titanicWithSex = titanicWithPClass
  .join(dfSex, Seq("sex"), "left")
  .drop("sex")


val titanicWithAge = titanicWithSex
  .join(dfAge, Seq("age"), "left")
  .drop("age")


val titanicFinalDf = titanicWithAge
  .join(dfSurvived, Seq("survived"), "left")
  .drop("survived")

dfPClass = [pClass: string, id_pclass: bigint]
dfSex = [sex: string, id_sex: bigint]
dfAge = [age: string, id_age: bigint]
dfSurvived = [survived: string, id_survived: bigint]
titanicWithPClass = [rownames: int, sex: string ... 4 more fields]
titanicWithSex = [rownames: int, age: string ... 4 more fields]
titanicWithAge = [rownames: int, survived: string ... 4 more fields]
titanicFinalDf = [rownames: int, freq: int ... 4 more fields]

[rownames: int, freq: int ... 4 more fields]

In [10]:
//seance 2 etape 3
import org.apache.spark.sql.hive.HiveContext

val hc = new HiveContext(sc)
dfPClass.write.mode("overwrite").saveAsTable("dim_pclass")
dfSex.write.mode("overwrite").saveAsTable("dim_sex")
dfAge.write.mode("overwrite").saveAsTable("dim_age")
dfSurvived.write.mode("overwrite").saveAsTable("dim_survived")
titanicFinalDf.write.mode("overwrite").saveAsTable("fact_titanic")

val test = hc.sql("""
  SELECT s.sex AS sexe, surv.survived AS survie, COUNT(*) AS nb_passagers
  FROM fact_titanic f
  JOIN dim_sex s ON f.id_sex = s.id_sex
  JOIN dim_survived surv ON f.id_survived = surv.id_survived
  GROUP BY s.sex, surv.survived
""")
test.show()


val zeub = hc.sql("""
  SELECT c.pClass AS classe, a.age AS tranche_age, COUNT(*) AS nb
  FROM fact_titanic f
  JOIN dim_pclass c ON f.id_pclass = c.id_pclass
  JOIN dim_age a ON f.id_age = a.id_age
  GROUP BY c.pClass, a.age
""")
zeub.show()

+------+------+------------+
|  sexe|survie|nb_passagers|
+------+------+------------+
|  Male|    No|           8|
|  Male|   Yes|           8|
|Female|    No|           8|
|Female|   Yes|           8|
+------+------+------------+

+------+-----------+---+
|classe|tranche_age| nb|
+------+-----------+---+
|   3rd|      Child|  4|
|   2nd|      Adult|  4|
|   2nd|      Child|  4|
|   3rd|      Adult|  4|
|  Crew|      Adult|  4|
|  Crew|      Child|  4|
|   1st|      Adult|  4|
|   1st|      Child|  4|
+------+-----------+---+

lastException = null
hc = org.apache.spark.sql.hive.HiveContext@74efcc29
test = [sexe: string, survie: string ... 1 more field]
zeub = [classe: string, tranche_age: string ... 1 more field]

warning: one deprecation (since 2.0.0); for details, enable `:setting -deprecation' or `:replay -deprecation'

[classe: string, tranche_age: string ... 1 more field]

In [11]:
import org.apache.spark.sql.hive.HiveContext

val hc = new HiveContext(sc)

titanicDf.write.mode("overwrite").saveAsTable("titanic")

val survieParClasse = hc.sql("""
  SELECT pClass,
         ROUND(SUM(CASE WHEN survived = 'Yes' THEN freq ELSE 0 END) * 100.0 / SUM(freq), 2) AS survival_rate
  FROM titanic
  GROUP BY pClass
""")

val survieParSexe = hc.sql("""
  SELECT sex,
         ROUND(SUM(CASE WHEN survived = 'Yes' THEN freq ELSE 0 END) * 100.0 / SUM(freq), 2) AS survival_rate
  FROM titanic
  GROUP BY sex
""")

hc.sql("""
  SELECT pClass, sex, SUM(freq) AS total_passengers
  FROM titanic
  GROUP BY pClass, sex
""").show()

hc.sql("""
  SELECT age, SUM(CASE WHEN survived = 'Yes' THEN freq ELSE 0 END) AS survivors
  FROM titanic
  GROUP BY age
""").show()

val tauxMortaliteCroise = hc.sql("""
  SELECT pClass, sex, age,
         ROUND(SUM(CASE WHEN survived = 'No' THEN freq ELSE 0 END) * 100.0 / SUM(freq), 2) AS death_rate
  FROM titanic
  GROUP BY pClass, sex, age
""")

hc.sql("""
  SELECT survived, SUM(freq) AS total_passengers
  FROM titanic
  GROUP BY survived
""").show()

+------+------+----------------+
|pClass|   sex|total_passengers|
+------+------+----------------+
|   2nd|  Male|             179|
|   2nd|Female|             106|
|  Crew|Female|              23|
|  Crew|  Male|             862|
|   3rd|Female|             196|
|   1st|  Male|             180|
|   1st|Female|             145|
|   3rd|  Male|             510|
+------+------+----------------+

+-----+---------+
|  age|survivors|
+-----+---------+
|Adult|      654|
|Child|       57|
+-----+---------+

+--------+----------------+
|survived|total_passengers|
+--------+----------------+
|     Yes|             711|
|      No|            1490|
+--------+----------------+

[pClass: string, sex: string ... 2 more fields]

hc = org.apache.spark.sql.hive.HiveContext@20cb36ff
survieParClasse = [pClass: string, survival_rate: decimal(27,2)]
survieParSexe = [sex: string, survival_rate: decimal(27,2)]
tauxMortaliteCroise = [pClass: string, sex: string ... 2 more fields]

warning: one deprecation (since 2.0.0); for details, enable `:setting -deprecation' or `:replay -deprecation'

In [12]:
//seance 3 etape 2
survieParClasse.coalesce(1)
  .write
  .mode("overwrite")
  .format("com.databricks.spark.csv")
  .option("header", "true")
  .save("out/survival_rate_by_class")

  survieParSexe.coalesce(1)
  .write
  .mode("overwrite")
  .format("com.databricks.spark.csv")
  .option("header", "true")
  .save("out/survival_rate_by_sex")

  tauxMortaliteCroise.coalesce(1)
  .write
  .mode("overwrite")
  .format("com.databricks.spark.csv")
  .option("header", "true")
  .save("out/death_rate_class_sex_age")